html,
body {
    background: white;
}

html {
    height: 100%;
}

body {
    color: black;
    font-family: ui-monospace, 'SFMono-Regular', 'SF Mono, Menlo', 'Consolas', 'Liberation Mono', monospace;
    font-size: 16px;
    line-height: 1.4;
    margin: 0;
    min-height: 100%;
    overflow-wrap: break-word;
}

main {
    max-width: 640px;
    margin: 0 auto;
    padding: 4rem 2rem;
}

nav > ul > li {
    font-weight: bold;
}

nav > ul > ul {
    margin-bottom: 1rem;
}

.meta {
    text-align: right;
}

pre, :not(pre) > code {
    border: 1px solid #d0d7de;
    border-radius: 6px;
    font-size: .875rem;
    padding: 1rem;
    margin: 1rem 0;
    white-space: pre-wrap;
}

:not(pre) > code {
    padding: .125rem .25rem;
}
